<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Openhouse</title>
  </head>
  <body>
    404!
    <button onClick="window.location.href='/'">Go home</button>
  </body>
</html>
