<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Openhouse</title>
    <script>
      const ROOM_ID = "<%= room.id %>";
      const PEERJS_HOST = "<%= peerjs.host %>";
      const PEERJS_PORT = "<%= peerjs.port %>";
    </script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/js/room.js" defer></script>
    <link href= "/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <% if (room.title) { %>
      <h1><%= room.title %></h1>
    <% } %>
    <div id="peer-grid"></div>
    <button id="mute-button" onClick="toggleIsMuted()">Mute</button>
  </body>
</html>
