<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Openhouse</title>
    <script src="/js/startRoom.js" defer></script>
    <link href= "/css/startRoom.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <form>
      <p>Let's talk about...</p>
      <input type="text" id="title-input"></input>
      <button type="submit" id="submit-button" onClick="startRoom(event)">Start</button>
    </form>
  </body>
</html>
